.main-aboutme {
    width: 100%;

    .aboutme-media-testo {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 60% auto;
        gap: 20px;
        justify-items: center;
        align-items: flex-start;

        @media (max-width: 767px) {
            grid-template-columns: 100%;
        }

        @media (min-width: 1024px) {
            margin: 0 auto;
            max-width: 80%;
        }

        .aboutme-testo {
            padding: 0 8px;
            grid-row: 1;
            grid-column: 1;
            align-self: center;

            p {
                font-family: $font-family_1;
                position: relative;
                font-size: 1em;
                text-align: justify;
                line-height: 2;
                margin: 0 8px;
                color: $color_1;
            }
        }

        .aboutme-media {
            grid-row: 1;
            grid-column: 2;

            @media (max-width: 767px) {
                padding: 0 32px;
                grid-row: 2;
                grid-column: 1;
            }

            .media-img {
                max-width: 100%;
                height: auto;
            }
        }
    }
}
