$color_1: #17171f;
$color_2: #c8a2c8;
$color_3: #e1e1e5;
$color_4: #040404;
$color_5: #f1efef;
$color_6: #3f3e3e;
$color_7: #a253a2;
$font-family_1: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$font-family_2: Georgia, 'Times New Roman', Times, serif;
$font-family_3: inherit;
$background-color_1: #f1f1f1;
$background-color_2: #f3e2f3;
$background-color_3: #17171f;
$background-color_4: transparent;
$background-color_5: #c8a2c8;
$background-color_6: #e9cfec;
$background-color_7: #c63dc6;
$border-color_1: #f1f1f1;

